@charset "UTF-8";
body {
  font-family: 'RocknRoll One', sans-serif;
  margin: 0;
}

main {
  max-width: 1280px;
  width: 100vw;
  margin: 0 auto;
  height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 1vh;
}

button {
  display: block;
  margin: auto;
  width: 80%;
  height: 5vh;
  padding: 0.5em 1em;
  text-decoration: none;
  background: #F99292;
  /*ボタン色*/
  color: #FFF;
  font-family: 'Reggae One', cursive;
  font-weight: bold;
  font-size: 1.5rem;
  border-bottom: solid 4px #FB7D79;
  border-radius: 3px;
  text-align: center;
}

button:active {
  /*ボタンを押したとき*/
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
  /*下に動く*/
  border-bottom: none;
  /*線を消す*/
}

button:hover {
  opacity: 0.7;
}

button:focus {
  outline: none;
}

#header {
  height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: -webkit-gradient(linear, left top, left bottom, from(#00c6ff), to(#0072ff));
  background: linear-gradient(#00c6ff, #0072ff);
  color: white;
  font-size: 2.5rem;
  margin-bottom: 0;
}

#gameResultArea {
  width: 49%;
  height: 100%;
  background-color: #EEF9FF;
  border: solid 1px #eeeeee;
}

#gameResultArea h1 {
  height: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 2rem;
  color: white;
  background-color: #78BBE6;
}

#gameResultArea h2 {
  height: 3vh;
  text-align: center;
  font-size: 2rem;
  margin-top: 3vh;
}

#gameResultArea table {
  margin: auto;
  width: 90%;
  height: 70%;
  text-align: center;
  vertical-align: middle;
  font-size: 1.5rem;
}

#gameResultArea table th {
  text-align: center;
  vertical-align: middle;
  border-bottom: 1px solid #000;
}

#gameResultArea table th:nth-child(2) {
  width: 40%;
}

#gameResultArea table th:nth-child(1) {
  width: 30%;
}

#gameResultArea table th:nth-child(3) {
  width: 30%;
}

#gameResultArea table td {
  text-align: center;
  vertical-align: middle;
  border-bottom: 1px solid #000;
}

#gameResultArea table td:nth-child(2) {
  width: 40%;
}

#gameResultArea table td:nth-child(1) {
  width: 30%;
}

#gameResultArea table td:nth-child(3) {
  width: 30%;
}

#timeLineArea {
  width: 49%;
  height: 100%;
  background-color: #fcf7e6;
  border: solid 1px #eeeeee;
}

#timeLineArea h1 {
  height: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 2rem;
  color: white;
  background-color: #FFBC61;
}

#timeLineArea #timelineContents {
  height: 90%;
  overflow-y: scroll;
  border-radius: 0px 0px 20px 20px;
}

#timeLineArea .timelineContent {
  background-color: #fcf7e6;
  border: solid 1px #eeeeee;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 1vh;
}

#timeLineArea .timelineContent h2 {
  text-align: center;
  font-size: 1.2rem;
}

#timeLineArea .timelineContent table {
  margin: 0 auto;
  width: 80%;
  text-align: center;
  vertical-align: middle;
}

#timeLineArea .timelineContent table th {
  text-align: center;
  vertical-align: middle;
  border-bottom: 1px solid #000;
}

#timeLineArea .timelineContent table th:nth-child(2) {
  width: 40%;
}

#timeLineArea .timelineContent table th:nth-child(1) {
  width: 30%;
}

#timeLineArea .timelineContent table th:nth-child(3) {
  width: 30%;
}

#timeLineArea .timelineContent table td {
  text-align: center;
  vertical-align: middle;
  border-bottom: 1px solid #000;
}

#timeLineArea .timelineContent table td:nth-child(2) {
  width: 40%;
}

#timeLineArea .timelineContent table td:nth-child(1) {
  width: 30%;
}

#timeLineArea .timelineContent table td:nth-child(3) {
  width: 30%;
}

#nextGame {
  height: 10vh;
  padding: 2vh 0;
  margin: auto;
  max-width: 1280px;
  width: 100vw;
}

#nextGame button {
  margin: 0 5%;
}
