@charset "UTF-8";
body {
  font-family: 'RocknRoll One', sans-serif;
  margin: 0;
}

main {
  max-width: 1280px;
  width: 100vw;
  margin: 0 auto;
  height: 90vh;
}

button {
  display: block;
  margin: auto;
  width: 80%;
  height: 5vh;
  padding: 0.5em 1em;
  text-decoration: none;
  background: #F99292;
  /*ボタン色*/
  color: #FFF;
  font-family: 'Reggae One', cursive;
  font-weight: bold;
  font-size: 1.5rem;
  border-bottom: solid 4px #FB7D79;
  border-radius: 3px;
  text-align: center;
}

button:active {
  /*ボタンを押したとき*/
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
  /*下に動く*/
  border-bottom: none;
  /*線を消す*/
}

button:hover {
  opacity: 0.7;
}

button:focus {
  outline: none;
}

#header {
  height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: -webkit-gradient(linear, left top, left bottom, from(#00c6ff), to(#0072ff));
  background: linear-gradient(#00c6ff, #0072ff);
  color: white;
  font-size: 2.5rem;
  margin-bottom: 0;
}

#timer {
  height: 20vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #fcf7e6;
  padding: 2vh 0;
  border-top: solid 1px #eeeeee;
  border-right: solid 1px #eeeeee;
  border-left: solid 1px #eeeeee;
}

#timer p {
  font-size: 7rem;
  text-align: center;
  margin-top: 0px;
  width: 25%;
}

#timer .timerBtnContainer {
  width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#timer button {
  border-radius: 50%;
  height: 15vh;
  width: 15vh;
  font-size: 1.2rem;
  margin-right: 2vw;
  margin-left: 2vw;
}

#timer #timerReset {
  background-color: #c5c3c3;
  border-bottom: solid 4px #b4b4b4;
}

.timerStart {
  background-color: #7ce797;
  border-bottom: solid 4px #3bdd8c;
}

#count {
  background-color: #fcf7e6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 2vh 0;
  height: 15vh;
  border-left: solid 1px #eeeeee;
  border-right: solid 1px #eeeeee;
  border-bottom: solid 1px #eeeeee;
}

#count .countContentCenter {
  width: 33%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#count .countContentCenter p {
  font-size: 5rem;
}

#count .countContentLeft {
  width: 33%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#count .countContentRight {
  width: 33%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#count .countItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#count .countItem h2 {
  font-size: 5rem;
}

#count button {
  border-radius: 50%;
  height: 10vh;
  width: 10vh;
  text-align: center;
  margin-right: 1vw;
  margin-left: 1vw;
  font-size: 2rem;
}

#displayResult {
  background-color: #EEF9FF;
  height: 45vh;
  padding: 2vh 0;
  border: solid 1px #eeeeee;
}

#displayResult #tournamentName {
  display: block;
  margin: auto;
  border: 1px solid #eeeeee;
  background-color: #dcf2fd;
  border-radius: 50px;
  height: 5vh;
  font-size: 2rem;
  text-align: center;
}

#displayResult #tournamentName :hover {
  opacity: 0.1;
}

#displayResult table {
  margin: auto;
  width: 90%;
  height: 80%;
  text-align: center;
  vertical-align: middle;
  font-size: 2rem;
}

#displayResult table input {
  border: 1px solid #eeeeee;
  background-color: #dcf2fd;
  border-radius: 50px;
  height: 5vh;
}

#displayResult table input :hover {
  opacity: 0.7;
}

#displayResult table th {
  text-align: center;
  vertical-align: middle;
  border-bottom: 1px solid #000;
}

#displayResult table th:nth-child(2) {
  width: 40%;
}

#displayResult table th:nth-child(1) {
  width: 30%;
}

#displayResult table th:nth-child(3) {
  width: 30%;
}

#displayResult table td {
  text-align: center;
  vertical-align: middle;
  border-bottom: 1px solid #000;
}

#displayResult table td:nth-child(2) {
  width: 40%;
}

#displayResult table td:nth-child(1) {
  width: 30%;
}

#displayResult table td:nth-child(3) {
  width: 30%;
}

#submit {
  height: 10vh;
  padding: 2vh 0;
  margin: auto;
}

#submit button {
  width: 90%;
}

#submit form {
  margin: auto;
}

#submit #gameFinish {
  text-align: center;
  margin: auto;
  width: 80%;
  height: 5vh;
  padding: 0.5em 1em;
  text-decoration: none;
  background: #F99292;
  /*ボタン色*/
  color: #FFF;
  font-family: 'Reggae One', cursive;
  font-weight: bold;
  font-size: 1.5rem;
  border-bottom: solid 4px #FB7D79;
  border-radius: 3px;
  text-align: center;
  width: 90%;
  margin: 0 5%;
}

#submit #gameFinish:active {
  /*ボタンを押したとき*/
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
  /*下に動く*/
  border-bottom: none;
  /*線を消す*/
}

#submit #gameFinish:hover {
  opacity: 0.7;
}

#submit #gameFinish:focus {
  outline: none;
}

.close {
  display: none;
}
